.is-horizontal-center {
  justify-content: center;
}
img {
  height: 200px;
  
}

.tile {
  width: 100%;
  min-height: 100%;
}
.card {
  min-width: 100%;
  min-height: 100%;
}
.card-header {
  max-height: 50px;
  overflow: hidden;
}
.card-content {
  padding-bottom: auto;
  margin-bottom: auto;
  
}
.card-image {
  margin-bottom: auto;
}
.card-footer {
  padding-top: auto;
  margin-bottom: 0;
  max-height: 50px;
  overflow: hidden;
}






@import '~bulma/bulma.sass'

