.is-horizontal-center {
  justify-content: center;
}
img {
  width: 64px;
  
}

.tile {
  width: 100%;
  min-height: 100%;
}
.card {
  min-width: 100%;
  min-height: 100%;
}
.card-header {
  max-height: 50px;
  overflow: hidden;
}
.card-content {
  padding-bottom: auto;
  margin-bottom: auto;
  
}
.card-image {
  margin-bottom: auto;
}
.card-footer {
  padding-top: auto;
  margin-bottom: 0;
  max-height: 50px;
  overflow: hidden;
}
.homepage {
  .hero-body:before{
    content: "";
    background: rgba(0,0,0,.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}
  .hero-body {
    background-image: url('https://mk0grmdailybale2a4k3.kinstacdn.com/wp-content/uploads/2021/05/cryptocurrency-1.jpeg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.123);
  }
}
.crystal-ball {
  background-image: url('https://image.harrods.com/16/05/33/23/16053323_29901428_1000.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
}






@import '~bulma/bulma.sass'

